.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 100%;
  text-align: center;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.modal-actions button {
  padding: 10px 20px;
  border: none;
  background-color: #0e3b5c;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.modal-actions button:hover {
  background-color: #007bff;
}

/* Butoni për Shto */
.btn-add {
  background-color: #28a745; /* green */
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-add:hover {
  background-color: #218838;
}

/* Butoni për Edito */
.btn-edit {
  background-color: #ffc107; /* yellow/orange */
  color: black;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-edit:hover {
  background-color: #e0a800;
}

/* Butoni për Fshij */
.btn-delete {
  background-color: #dc3545; /* red */
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-delete:hover {
  background-color: #c82333;
}

.add-user-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-user-form input,
.add-user-form select,
.add-user-form button {
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #fff;
  transition: border 0.3s ease;
}

.add-user-form input,
.add-user-form select {
  margin-bottom: 10px;
}

.add-user-form button {
  background-color: #0e3b5c;
  color: white;
  cursor: pointer;
}

.add-user-form button:hover {
  background-color: #007bff;
}
