@import "../../responsive.scss";

.layout {
  height: 100vh; /* Siguron që layout-i mbush ekranin */
  display: flex;
  flex-direction: column;

  @include lg {
    max-width: 1280px;
  }

  @include md {
    max-width: 768px;
  }

  @include sm {
    max-width: 640px;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px; /* Lartësia e navbar-it */
    background-color: #fff;
    z-index: 1000;
    box-shadow: 0 4px 2px -2px gray;
  }

  .content {
    margin-top: 60px; /* Hapësirë për navbar-in që është fikse */
    flex-grow: 1; /* Përdor gjith hapësirën e mbetur */
    overflow-y: auto; /* Lejon scroll vertikal */
    padding: 20px;
    height: calc(100vh - 60px); /* Siguron që përmbajtja të mbushë hapësirën nën navbar */
  }
}

/* Sigurohu që për ekranet e vogla, layout-i të ruajë stilin e plotë */
@include sm {
  .layout {
    height: 100%;
  }

  .content {
    margin-top: 60px;
    padding: 10px;
    height: auto;
    overflow-y: auto;
  }
}
