@import "../../responsive.scss";

.footer {
  background-color: #222;
  color: #fff;
  padding: 40px 20px;
  text-align: center;

  .container {
    max-width: 1200px;
    margin: auto;

    p {
      margin: 0;
      font-size: 14px;
    }
  }
}
